@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

body {
    background-image: url(/imag/inventas.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}

.contenedor__todo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera {
    width: 100px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 128, 255, 0.5);
}

.caja__trasera div {
    margin: 100px 40px;
    color: black;
    transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera div button {
    margin-top: 30px;
}

.caja__trasera div h3 {
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera button {
    padding: 10px 40px;
    border: 2px solid #fff;
    border-radius: 8px;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: whitesmoke;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover {
    background: #fff;
    color: #b90808;
}

/*Formularios*/
.contenedor__login-register {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form {
    width: 100%;
    padding: 80px 20px;
    background: #29849f;
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #252525;
}

.contenedor__login-register form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    font-size: 16px;
    outline: none;
    border-radius: 8px;
}

.contenedor__login-register form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: 2px solid #fff;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    background: #252525;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: all 300ms;
}

.contenedor__login-register form button:hover {
    background: #fff;
    color: #b90808;
}

.formulario__login {
    opacity: 1;
    display: block;
}

.formulario__register {
    display: none;
}

/*Estilos Footer*/
.footer {
    text-align: center;
    padding: 10px;
    background-color: #e8e8e8;
    margin: 5px;
    border-radius: 24px;
    position: relative;
    bottom: 0;
    width: 100%
}

.footer-content { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content img {
   margin-right: 10px;
   max-width: 30px;
   max-height: 30px;
}

.footer-content a {
    display: inline-block;
    margin-right: 10px;
}

/*Boton v1 de página inicio*/
.boton-menu {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.boton-menu img {
    width: 50px;
    height: 50px;
}

.menu {
    display: none;
    position: absolute;
    background-color: #e8e8e8;
    min-width: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #333;
}

.menu a:hover {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Botones v2 de página inicio lista */
ul.lista-botones {
    list-style: none;
    padding: 0;
}

li.button {
    margin: 5px 0;
}

@media screen and (max-width: 850px) {
    
    main {
        margin-top: 50px;
    }    

    .caja__trasera {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div {
        margin: 0px;
        position: absolute;
    }

    /*Formulario*/
    .contenedor__login-register {
        top: -10px;
        left: -5px;
        margin: auto;
    }
    .contenedor__login-register form {
        position: relative;
    }
}