@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #155263;
    /*background-image: url(/imag/inventas.png);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

main {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
}
.main_bienv {
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
}

.logo {
    border-radius: 15px;
}

.contenedor__todo {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}

.caja__trasera {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: rgba (0, 128, 255, 0.5);
}

.caja__trasera div {
    margin: 100px 40px;
    color: black;
    transition: all 500ms;
}

.caja__trasera div p,
.caja__trasera div button {
    margin-top: 30px;
}

.caja__trasera div h3 {
    font-weight: 400;
    font-size: 26px;
}

.caja__trasera button {
    padding: 10px 40px;
    border: 2px solid #fff;
    border-radius: 8px;
    background: transparent;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
}

.caja__trasera button:hover {
    background: #fff;
    color: #b90808;
}

/*Formularios*/
.contenedor__login-register {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 380px;
    position: relative;
    top: -185px;
    left: 10px;

    transition: left 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.contenedor__login-register form {
    width: 100%;
    padding: 80px 20px;
    background: rgb(93, 172, 187);
    position: absolute;
    border-radius: 20px;
}

.contenedor__login-register form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #252525;
}

.contenedor__login-register form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border:  none;
    border-radius: 8px;
    background: #fff;
    font-size: 16px;
    outline: none;
}

.contenedor__login-register form button {
    padding: 10px 40px;
    margin-top: 40px;
    border: 2px solid #fff;
    border-radius: 8px;
    font-size: 14px;
    background: #252525;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.contenedor__login-register form button:hover {
    transition: all 300ms;
    background-color:whitesmoke;
    color: #b90808;
}

.formulario__login {
    opacity: 1;
    display: block;
}

.formulario__register {
    display: none;
}

/*para la responsividad de la página*/
@media screen and (max-width: 850px) {

    main {
        margin-top: 50px;
    }

    .caja__trasera {
        max-width: 350px;
        height: 300px;
        flex-direction: column;
        margin: auto;
    }

    .caja__trasera div {
        margin: 0px;
        position: absolute;
    }

    /*Formulario*/

    .contenedor__login-register {
        top: -10px;
        left: -5px;
        margin: auto;
    }

    .contenedor__login-register form {
        position: relative;
    }
}


/*Estilos Footer editar*/
.footer {
    width: 130vh;
    text-align: center;
    max-width: 100%;
    padding: 10px;
    background-color: #e7f6ff;
    margin: 20px;
    border-radius: 8px;
    position: relative;
    bottom: 0;
    
}

.footer-content { 
    width: 130vh;
    max-width: 100%;
    margin: 0 left;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0 auto ;
}

.footer-content img {
   margin-right: 10px;
   max-width: 30px;
   max-height: 30px;
}

.footer-content a {
    display: inline-block;
    margin-left: 10px;
}

/*Estilos botones Barra Menú*/
.contenedor__bienvenida {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}

.contenedor__botones button {
    padding: 8px 24px;
    border: 1px solid #252525;
    border-radius: 8px;
    background: #e7f6ff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: #252525;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.contenedor__botones .btn_bienvenida:hover {
    background: #e3edf8;
    color: #252525;
}

.contenedor__botones .cerrar_sesion {
    background: #e7f6ff;
    color: #b90808;
    border: 2px solid #252525
}

.contenedor__botones .cerrar_sesion:hover {
    background: #b90808;
    color: #fff;
    border: 2px solid #fff;
}

/*Botones: editar-eliminar tablas*/
.btn {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #252525;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn.editar {
    background-color: #0a7273;
    color: #fff;
}

.btn.editar:hover {
    background-color: #033043;
    color: #fff;
    border: 1px solid #fff;
}

.btn.eliminar {
    background-color: #fda521;
    color: #fff;
}

.btn.eliminar:hover {
    background-color: #b90808;
    color: #fff;
    border: 1px solid #fff;
}

/*Estilos Tablas*/
table {
    width: 130dvh;
    border-collapse: collapse ;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

/*Estilo formularios*/
.formularios_pc {
    width: 400px;
    margin: 0 left;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.formularios_pc label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.formularios_pc input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #CCC;
    border-radius: 4px;
}

.formularios_pc input[type="submit"] {
    background-color: #252525;
    color: #e3edf8;
    border: 1px solid #fff;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.formularios_pc input[type="submit"]:hover {
    background-color: #e3edf8;
    color: #252525;
    border: 1px solid #252525;
}

.formularios_pc button[type="submit"] {
    background-color: #252525;
    color: #e3edf8;
    border: 1px solid #fff;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.formularios_pc button[type="submit"]:hover {
    background-color: #e3edf8;
    color: #252525;
    border: 1px solid #252525;
}